.wrapper {
  margin: 10px;
  padding: 10px;
  background-color: #ff0000;
}
.inner {
  padding: 10px;
  background-color: #ffff00;
  border-width: 10px;
  border-color: #ffa500;
}
.inner-inner {
  padding: 10px;
  background-color: #008000;
}
