.a {
  background-color: #ff0000;
  padding: 100px;
}
.b {
  background-color: #ffa500;
  padding: 50px;
}
.c {
  background-color: #ffff00;
  padding: 50px;
}
.d {
  background-color: #008000;
  padding: 50px;
}
.e {
  background-color: #0000ff;
  padding: 50px;
}
.f {
  background-color: #4b0082;
}
.g {
  background-color: #800080;
  padding: 30px;
  width: 60px;
}
